*{
    margin: 0;
    padding: 0;
}

.welcomePage{
    background-color: #e5edeb;
    height: 100vh;
}
#welcome{
    text-align: center;
    font-size: 50px;    
    padding-top: 20px;
    padding-bottom: 3rem;
}

#title{
    padding-top: 4rem;
    padding-bottom: 5rem;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

/* .welcomeText{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%;
} */

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    /* margin: 20px; */
}

.button a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99d6ed;
    border-radius: 10px;
    padding: 20px;
    width: 100px;
}

.register{   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6ed99;
    border-radius: 10px;
    padding: 20px;
    width: 100px;
}

/*Register*/
.regisPage{
    background-color: #c2f0f7;
    height: 100vh;
    font-size: 20px;
}

#regisTitle{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 7vh;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

/* Login */
.loginPage{
    background-color: #fbfdac;
    width: 100%;
    height: 100vh;
    font-size: 30px;
}

.titleLogin{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 7vh;
}

.containerLogin{
    display: flex;
    justify-content: center;
    background-color: #ace6fd;
    margin: 0 20%;
    padding-top: 50px;
    /* width: 70%; */
    height: auto;
}

#loginBtn{
    background-color: #adf59f;
    width: 120px;
    height: 35px;
    font-size: 25px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.footer{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.footer a{
    text-decoration: none;
    color: black;
    /* width: 100px;
    height: 35px; */
    font-size: 25px;
}

.back{
    display: flex;
    width: 120px;
    height: 35px;
    background-color: #fdd7ac;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* Home */
.navbar{
    background-color: #f9ffca;
    display: flex;
    padding: 15px;
    font-size: 30px;
    justify-content: space-between;
}

.containerHome{
    display: flex;
    gap: 20px;
}

.home{
    border-bottom: 1.5px solid black;
}

.containerHome a{
    text-decoration: none;
    color: black;
}

.logout a{
    text-decoration: none;
    color: black;
}

.body{
    background-color: #cad1ff;
    height: 60vh;
    text-align: center;
    padding-top: 200px;
    font-size: 25px;
}

/* Profile */
#foto img{
    width: 100px;
    height: 150px;
}

.profileBack{
    background-color: #cad1ff;
    height: 90vh;
}

/* editProfile */
#updateBtn{
    background-color: #adf59f;
    width: 150px;
    height: 35px;
    font-size: 25px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

